.bold { font-weight: bold }
.boldit { font-weight: bold; font-style: italic }
.indent { margin-left: 1.5em }
.jumpdown { font-style: italic; font-size: 90% }
.jumpdownli { margin-bottom: 0.5em; list-style-type: circle }
.jumpdownlist { font-size: 80%; padding-left: 1.5em; padding-right: 0.5em }
.leftblock { background-color: #ffdd66; vertical-align: top }
.leftbottom { margin-bottom: 0.5em }
.leftlist { font-size: 95%; padding-left: 1.5em; padding-right: 0.5em }
.leftlistmajor { font-weight: bold; padding-left: 1.5em; padding-right: 0.5em }
.listtable { background-color: #ffffbb }
.middle { vertical-align: middle }
.news_announcement { color: #ff0000 }
.news_discussion { color: #008040 }
.news_general { color: #ff8000 }
.news_interest { color: #0000ff }
.padleft { padding-left: 1em }
.red { color: #dd0000 }
.rightblock { background-color: #ffffbb; padding: 1em; vertical-align: top }
.topleftblock { background-color: #ff9900; text-align: center }
.topleftbottom { margin-bottom: 0.5em }
.topleftlist { font-weight: bold; padding-left: 1.5em; padding-right: 0.5em }
.toprightblock { background-color: #ffdd66; padding-left: 1em;
    border-top: 0.2em solid #ff9900 ; border-bottom: 0.2em solid #ff9900 }
.updated { float: right; font-style: italic; white-space: nowrap;
    font-size: 70%; vertical-align: top }
body {background-color: #ffffdd }
body {max-width: 60em; font-family: verdana,arial,helvetica,sans-serif,georgia }
td.rightblock > *:first-child { margin-top: 0 }
td.rightblock > img:first-child + * { margin-top: 0 }
td.rightblock > div:first-child + * { margin-top: 0 }
td.rightblock > table:first-child > tbody > tr:first-child > td > * { margin-top: 0 }
